article{
	margin-top: 100px;
	width: 80%;
	text-align: center;
}

footer{
	width: 100%;
	text-align: center;
}
.product {width: 25%; float: left; height: 400px; margin-top: 25px}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.highlight{
	color: gray;
	font-weight: bold;
	font-size: 25px;
}

.pages{
	width: 100%;
	float: left;
	background: white;
	text-align: center;
	margin-top: 20px;
}
footer{
	width: 100%;
	background-color: black;
	height: 200px;
}