header{
	border: green thin solid;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
article{
	width: 70%;
	border: green thin solid;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
aside{
	width: 15%;
	border: green thin solid;
	height: 900px;
	box-sizing: border-box;
	float: left;
	text-align: center;
}

footer{
	width: 100%;
	border: green thin solid;
	height: 50px;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
.product {width: 45.5%; float: left;border: green thin solid; margin-left: 3%; height: 400px; margin-top: 25px; border-radius: 10px}
.product .name{text-align: center;font-weight: bold}
.product .price {text-align: center;}
.product .order {text-align: center;}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown:hover .dropdown-content {
	display: block;
}